<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<!-- 회원가입 -->
	<select id="memberJoin" parameterType="com.mvc.dao.MemberDTO">
		INSERT INTO memberJoin(mber_id, mber_pw, mber_nm, mber_ps) VALUES (#{mber_id}, #{mber_pw}, #{mber_nm}, #{mber_ps})
	</select>
	
	<!-- 아이디 중복확인 -->
	<select id="memberJoinConfirmId" parameterType="String" resultType="int">
		SELECT COUNT(mber_id) as id
		FROM memberJoin
		WHERE MBER_ID = #{mber_id}
	</select>
	
	<!-- 회원 로그인 -->
	<select id="memberLogin" parameterType="map" resultType="int">
		SELECT COUNT(mber_id) as id
		FROM memberJoin
		WHERE MBER_ID = #{mber_id} AND MBER_PW = #{mber_pw};
	</select>
	
	<!-- 회원정보 꺼내오기 -->
	<select id="getMemberInfo" parameterType="String" resultType="com.mvc.dao.MemberDTO">
		SELECT mber_num, mber_id, mber_pw, mber_nm, mber_ps 
		FROM memberJoin 
		WHERE MBER_ID = #{mber_id}
	</select>
	
</mapper>